* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

article {
    border: 3px solid black;
    max-width: 700px;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
}

.price {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
}

.shipping {
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
    font-size: 15px;
    margin-bottom: 15px;
}
.text {
    margin-bottom: 10px;
}

a {
    color: black;
    
}

a:hover {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    
}

li {
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
}

button:hover {
    color: black;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
    
    
}
