* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

article {
    border: 3px solid black;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
    position: relative;
}

h1::after {
    content: "SALE";
    font-size: 16px;
    padding: 5px 10px;
    background-color: rebeccapurple;
    position: absolute;
    top: -15px;
    left:-30px;
}

.price {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
}

.shipping {
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
    font-size: 15px;
    margin-bottom: 15px;
}
.text {
    margin-bottom: 10px;
}



.kocka1 {
    padding: 5px;
    background-color: black;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
}
.kocka2 {
    padding: 5px;
    background-color: blue;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
}
.kocka3 {
    padding: 5px;
    background-color: red;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
}
.kocka4 {
    padding: 5px;
    background-color: yellow;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
}
.kocka5 {
    padding: 5px;
    background-color: green;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
}
.kocka6 {
    padding: 5px;
    background-color: brown;
    width: 5px;
    height: 5px;
    margin-left: 10px;
    display: inline-block;
}

a {
    color: black;
    
}

a:hover {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    
}

li {
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
}

button:hover {
    color: black;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
    
    
}

.link {
    display: inline-block;
    margin-bottom: 25px;
}
