* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

article {
    border: 3px solid black;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: #f7f7f7;
    padding: 10px;
    position: relative;
}

h1::after {
    content: "SALE";
    font-size: 16px;
    padding: 5px 10px;
    background-color: rebeccapurple;
    position: absolute;
    top: -15px;
    left:-30px;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
    
    
    
}

.img {
    flex: 1;
}

.part1 {
    
    flex: 1;
    
}

.part2 {
    flex: 1;
    margin-right: 10px;
}



.shipping-detail {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 20px;
    
}

.price {
    font-weight: 800;
    font-size: 20px;
    
}

.shipping {
    text-transform: uppercase;
    font-weight: 600;
    color: #444;
    font-size: 12px;
    
}
.text {
    margin-bottom: 10px;
}

.kocke {
    display: flex;
    gap: 15px;
    margin-left: 10px;
}

.kocka1 {
    padding: 7px;
    background-color: black;
    width: 5px;
    height: 5px;
    
}
.kocka2 {
    padding: 7px;
    background-color: blue;
    width: 5px;
    height: 5px;
    
}
.kocka3 {
    padding: 7px;
    background-color: red;
    width: 5px;
    height: 5px;
    
}
.kocka4 {
    padding: 7px;
    background-color: yellow;
    width: 5px;
    height: 5px;
   
}
.kocka5 {
    padding: 7px;
    background-color: green;
    width: 5px;
    height: 5px;
  
}
.kocka6 {
    padding: 7px;
    background-color: brown;
    width: 5px;
    height: 5px;
   
}

a {
    color: black;
    
}

a:hover {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
    
}

li {
    margin-bottom: 10px;
}

button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
}

button:hover {
    color: black;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    
    
    
}

.link {
    display: inline-block; 
    margin-bottom: 25px;
}

h3 {
    margin: 0;
    margin-bottom: 20px;
}

.img {
    height: 250px;
}